# Node
node_modules/
.conf/

# Flutter
termserver_app/.dart_tool/
termserver_app/.packages
termserver_app/build/
termserver_app/.flutter-plugins
termserver_app/.flutter-plugins-dependencies
termserver_app/android/.gradle/
termserver_app/ios/Pods/
termserver_app/ios/.symlinks/
termserver_app/.pub-cache/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# OS
Thumbs.db
